* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v78_180 {
    width: 960px;
    height: 990px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .v78_185 {
    width: 456px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 30px;
    left: 334px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 39px;
    opacity: 1;
    text-align: center;
  }
  .v78_186 {
    width: 330px;
    height: 310px;
    background: url("logo111.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 185px;
    left: 150px;
    overflow: hidden;
  }
  .v78_187 {
    width: 200px;
    height: 35px;
    background: rgba(238,235,235,0.5);
    opacity: 0.44999998807907104;
    position: absolute;
    top: 880px;
    left: 472px;
    border: 5px solid rgba(0,0,0,1);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .v78_188 {
    width: 115px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 886px;
    left: 532px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v113_80 {
    width: 244px;
    height: 774px;
    background: linear-gradient(rgba(255,255,255,0.009999999776482582), rgba(255,255,255,0));
    opacity: 1;
    position: absolute;
    top: 73px;
    left: 448px;
    overflow: hidden;
  }
  .v113_81 {
    width: 177px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 44px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }
  .v113_82 {
    width: 190px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 102px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }
  .v113_83 {
    width: 86px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 440px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }
  .v113_84 {
    width: 129px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 212px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }
  .v113_85 {
    width: 111px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 321px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }
  .v113_86 {
    width: 123px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 380px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }
  .v113_87 {
    width: 118px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 261px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }
  .v113_88 {
    width: 145px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 153px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }
  .v113_89 {
    width: 99px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 498px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }
  .v113_90 {
    width: 83px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 558px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }
  .v113_91 {
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 618px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }
  .v113_92 {
    width: 150px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 675px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }
  .v113_93 {
    width: 59px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 733px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: justified;
  }

 