
  body {
    font-size: 14px;
  }
  form{
    width: 30%
    margin-left:20%;
  }
h1{
  text-align: center;

}
img{
  float: right;
}
h2{
  text-align: center;

}
button{
  border-radius:50px ;
}



